/* grid */

[class*="wrapper-"] {
	margin: 2% auto;
}

[class*="wrapper-"]:before, [class*="wrapper-"]:after {
	display: table;
	line-height: 0;
	content: "";
}

[class*="wrapper-"]:after {
	clear: both;
}

[class*="col-"], .grid {
	float: left;
	-moz-box-sizing: border-box;
    box-sizing: border-box
}

.grid {
	width: 100%;
}

.grid h3{
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.grid .content{
	padding: 10px;
}

.col-100, .col-1 {
	width: 100%;
}

.col-75 {
	width: 75%;	
}

.col-66 {
	width: 66.66%;
}

.col-50 {
	width: 50%;	
}

.col-33 {
	width: 33.33%;		
}

.col-25 {
	width: 25%;
}

[class*="wrapper-"] .grid {
	padding-right: 20px;
	padding-bottom: 20px;
}

[class*="wrapper-"] .grid [class*='col-'] {
	padding-top: 20px;
	padding-left: 20px;
}

/* grid 100% */

.wrapper-100 {
	width: 100%;
	margin: 0 auto;
}

/* .wrapper-100 .grid { */
/* 	padding-right: 1.5%; */
/* 	padding-bottom: 1.5%; */
/* } */

/* .wrapper-100 .grid [class*='col-'] { */
/* 	padding-top: 1.5%; */
/* 	padding-left: 1.5%; */
/* } */

[class*="wrapper-"] .grid .append-top {
	margin-top: 20px;	
}

[class*="wrapper-"] .grid .append-bottom {
	margin-bottom: 20px;	
}

/* grid 90% */

.wrapper-90 {
	width: 90%;
}

/* .wrapper-90 .grid { */
/* 	padding-right: 1.666667%; */
/* 	padding-bottom: 1.666667%; */
/* } */

/* .wrapper-90 .grid [class*='col-'] { */
/* 	padding-top: 1.666667%; */
/* 	padding-left: 1.666667%; */
/* } */

/* grid 75% */

.wrapper-75 {
	width: 75%;
}

/* .wrapper-75 .grid { */
/* 	padding-bottom: 2.0%; */
/* 	padding-right: 2.0%; */
/* } */

/* .wrapper-75 .grid [class*='col-'] { */
/* 	padding-top: 2.0%; */
/* 	padding-left: 2.0%; */
/* } */

/* grid 50% */

.wrapper-50 {
	width: 50%;
}

/* .wrapper-50 .grid { */
/* 	padding-bottom: 3.0%; */
/* 	padding-right: 3.0%; */
/* } */

/* .wrapper-50 .grid [class*='col-'] { */
/* 	padding-top: 3.0%; */
/* 	padding-left: 3.0%; */
/* } */

/* grid 25% */

.wrapper-25 {
	width: 25%;
}

/* .wrapper-25 .grid { */
/* 	padding-bottom: 6.0%; */
/* } */

/* .wrapper-25 .grid [class*='col-'] { */
/* 	padding-top: 6.0%; */
/* 	padding-left: 6.0%; */
/* } */

@media screen and (max-width: 959px) {

	.col-75 {
		width: 100%;
	}

	.col-66 {
		width: 100%;
	}

	.col-50 {
		width: 50%;		
	}

	.col-33 {
		width: 50%;
	}

	.col-25 {
		width: 50%;
	}	

	/* grid 75 */
	.wrapper-75 {
		width: 90%;	
	}

	[class*="wrapper-"] .grid {
		padding-right: 10px;
		padding-bottom: 10px;
	}

	[class*="wrapper-"] .grid [class*='col-'] {
		padding-top: 10px;
		padding-left: 10px;
	}

	[class*="wrapper-"] .grid .append-top {
		margin-top: 10px;	
	}
	
	[class*="wrapper-"] .grid .append-bottom {
		margin-bottom: 10px;	
	}
	
/* 	.wrapper-75 .grid { */
/* 		padding-bottom: 1.666667%; */
/* 		padding-right: 1.666667%; */
/* 	} */

/* 	.wrapper-75 .grid [class*='col-'] { */
/* 		padding-top: 1.666667%; */
/* 		padding-left: 1.666667%; */
/* 	} */

	/* grid 50*/
	.wrapper-50 {
		width: 75%;
	}

/* 	.wrapper-50 .grid { */
/* 		padding-bottom: 2.0%; */
/* 		padding-right: 2.0%; */
/* 	} */

/* 	.wrapper-50 .grid [class*='col-'] { */
/* 		padding-top: 2.0%; */
/* 		padding-left: 2.0%; */
/* 	} */
}

@media screen and (max-width: 500px) {
	[class*="col-"] {
		width: 100%;
	}

	[class*="wrapper-"] {
		width: 100%;
	}

	[class*="wrapper-"] .grid {
		padding-right: 5px;
		padding-bottom: 5px;
	}

	[class*="wrapper-"] .grid [class*='col-'] {
		padding-top: 5px;
		padding-left: 5px;
	}

	[class*="wrapper-"] .grid .append-top {
		margin-top: 5px;	
	}
	
	[class*="wrapper-"] .grid .append-bottom {
		margin-bottom: 5px;	
	}

/* 	[class*="wrapper-"] .grid { */
/* 		padding-bottom: 1.666667%; */
/* 		padding-right: 1.666667%; */
/* 	} */

/* 	[class*="wrapper-"] .grid [class*="col-"] { */
/* 		padding-top: 1.666667%; */
/* 		padding-left: 1.666667%; */
/* 	} */
}

