body {
	background: url(../images/back.jpg) repeat-x scroll 0 0 #9CC4CF;
}

.header{
	margin-top: 10px;
	margin-bottom: 10px;
}

.logo {
	background-color: #FFFFFF;		
 	height: 50px;
}

.subheader {
 	background-color: #CCCCCC;
 	height: 25px;
}

.menu {
	background-color: #DDCCCC;
	height: 75px;
}

.content {
	background-color: #FFFFFF;
	min-height: 300px;
	margin-bottom: 10px;
}

.rodape {
	background-color: #FFFFEE;
	height: 40px;
	margin-bottom: 10px;
}

.regform {
	/*line-height: 3;*/
}

.box_saldo {
	background-color: #EEFFFF;
	height: 150px;
}

.box_registro {
	background-color: #FFEEFF;
	height: 300px;
}

.box_ultimos_pgs {
	background-color: #FFFFEE;
	height: 300px;
}

.shadow_content {
	-moz-box-shadow: 5px 0px 15px #A7ABAF;
	-webkit-box-shadow: 5px 0px 15px #A7ABAF;
	box-shadow: 5px 0px 15px #A7ABAF;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.shadow_footer {
	-moz-box-shadow: 5px 10px 15px #A7ABAF;
	-webkit-box-shadow: 5px 10px 15px #A7ABAF;
	box-shadow: 5px 10px 15px #A7ABAF;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}