/* Budget */

.left { text-align: left; }
.right { text-align: right; }

.ui-progressbar { height: 23px; }

#budgetList { padding: 10px 0; }

#fatherItem { width: inherit; background: #ccc; }
#fatherItem ul li.name { width: 100%; }
#fatherItem ul li.button { width: 5%; text-align: center;  }
#fatherItem ul li.values { width: 25%; }
#fatherItem ul li.pbar { width: 41%; padding: 0 2%; }

#childItem { margin: 10px 10px 0 10px; }
#childItem #item { margin-bottom: 5px; }
#childItem ul li.values { width: 20%; }
#childItem ul li.name { width: 50%; }
#childItem ul li.of { width: 10%; text-align: center;}
#childItem ul li.bar { width: 100%; }

#fatherItem ul li, #childItem ul li { background: #fff; float: left; line-height: 25px; font-weight: bold; margin:0;}

#progressbar { height: 23px; display: block; width: 100% };