
#budget-data-form h4 {
	padding-bottom: 10px;
	font-size: 1.13em;
	/*border-top: 2px solid #495154;
	padding-top: 10px;

	margin-bottom: 5px;*/
}

#budget-data-form h4:first-child {
	border-top: none;
	padding-top: 0;
}

#budget-data-form .budget-item {
	margin-top: 10px;
	border-bottom: 2px solid #495154;
	padding-bottom: 10px;
}

#budget-data-form .budget-item:last-child {
	border-bottom: none;
}

/*#budget-data-form label {
	width: 21%;
	padding-right: 2%;
}

#budget-data-form input[type="text"] {
	width: 19.038462%;	
}

#budget-submit-options label {
	font-size: 1em;
	width: 23%;
	line-height: 2;
}*/

#budget-submit-options input[type="radio"] {
		
}

#budget-submit-options input[type="submit"] {
	margin-top: 0.5em;
}

/* Manage Category */

.icon-edit:hover {
	color: #01a401;
}

.icon-delete:hover {
	color: #e40101;
}

#new-category label {
	width: 15%;
}

#new-category h4 {
	padding-bottom: 10px;
}

#new-category input[type="checkbox"] {
	width: auto;
	margin: 5px;	
}

#edit-category-list ul:nth-child(even) {
	background: #eeeeee;
}

#edit-category-list li {
	padding: 0.854133% 0;
	padding-left: 2.454133%;
}

/* Modal */
.adm-modal h4 {
	margin-bottom: 10px;
}