@media screen and (max-width: 1280px){
	
	.menu-icon a:before {
		content: "";
	}
}

@media screen and (min-width: 960px){

}

@media screen and (max-width: 959px){
	
	.menu-icon a span {
		display: none;
	}

	a.home:before {
		content: '\2302';
	}

	a.budget:before {
		content: '\e005';
	}

	a.cashflow:before {
		content: '\1f4c8';
	}

	a.goal:before {
		content: '\2691';
	}

	a.reports:before {
		content: '\1f53e';
	}

	a.admin:before {
		content: '\2699';
	}

	a.help:before {
		content: '\2753';
	}

	.highlights .col-33 {
		width: 33%;
	}
}

@media screen and (max-width: 850px){
    #months > a {
        margin-right: 3px;
        margin-top: 3px;
    }
}

@media screen and (max-width: 500px){
	
	/* GENERAL */
	*{
		font-size: 100%;
	}

	form label, form input[type="text"], form input[type="password"], form select {
		text-align: left;
		width: 100%;
		margin: 0;
	}

	input[type='submit'] {
		margin-top: 5%;
	}

	.bt-icon {
		font-size: 1.5rem;
		width: 1.5rem;
		height: 1.5rem;
	}

	.btn {
		font-size: 1.3em;
		padding: 10px 20px;
	}
	
	/* MAIN MENU */
	#main-menu a {
		width: 100%;
		padding: 10px 0
	}
	
	#main-menu .items{
		display: none
	}
	
	#main-menu a#mobile-menu {
		display: block
	}

	.menu-icon a span {
		display: inline-block
	}

	/* PORTAL */
	#logo-portal img{
		margin: 20px;
	}

	.highlights [class*="col-"]{
		width: 100%;
		border-right: none;
	}
	
	#login-bar {
		text-align: left;
	}

	#login-bar input[type="text"] {
		margin-bottom: 5px;
	}

	#login-bar input[type="submit"] {
		margin: 10px 25%;
		width: 50%;
	}		
}