/* cashflow */

.cashflow { padding: 0; text-align:center;}
.cashflow ul.legend { font-weight:bold; color: #fff; background-color: #495154; }
.cashflow ul { float:left; width: 660px; border-bottom: 1px solid #ccc; background-color: #eee;}
.cashflow ul:nth-child(even)  { background-color: inherit;  }
.cashflow ul li { float:left; line-height:25px; }
.cashflow ul li.buttons { width:50px; text-align:center; padding-left: 3px; }
.cashflow ul li.day { width:50px; text-align:center;}
.cashflow ul li.income { width:110px;}
.cashflow ul li.expense { width:110px;}
.cashflow ul li.category { width:140px;}
.cashflow ul li.description { width:197px;}
.cashflow ul.last { border-bottom: none; }

.cashflow .rounded-left { background-color: #495154; border-radius: 10px 0px 0px 0px; -moz-border-radius: 10px 0px 0px 0px; -webkit-border-radius: 10px 0px 0px 0px; }
.cashflow .rounded-right {  background-color: #495154; border-radius: 0px 10px 0px 0px; -moz-border-radius: 0px 10px 0px 0px; -webkit-border-radius: 0px 10px 0px 0px; }

input.bt_edit { width: 16px; background: url(../images/form/edit-icon.png) no-repeat 50%; border:0 none; cursor:pointer; }
input.bt_delete { width: 16px; background: url(../images/form/delete-icon.png) no-repeat 50%; border:0 none; cursor:pointer; }