/* HELP LIST */

#help-list span, #help-list p{
	font-size: 0.95rem;
	line-height: 1.3;
}

#help-list p{
	overflow: hidden;
	
	-webkit-transition: height 0.5s;
}

#help-list li {
	border-bottom: 1px solid #495154;
	padding-top: 5px;
	padding-bottom: 5px;
}

#help-list ul li:first-child{
	padding-top: 0;
}

#help-list ul li:last-child {
	border-bottom: none;
}

#help-list li span{
	font-weight: bold;
}
