/* TRANSACTION LIST BOX */
#transaction-list-box {
	padding: 0;
}

#transaction-list-box ul {
	padding: 2.680965%;
	background: -webkit-linear-gradient(#eeeeee,#fefefe);
	border-top: 1px solid #eeeeee;
}

#transaction-list-box ul li {
	width: 50%;
	padding-left: 0;
	padding-right: 0;
	font-weight: bold;
	font-size: 1.1rem;
}

#transaction-list-box .category, #transaction-list-box .description {
	width: 100%;
	font-weight: normal;
}

#transaction-list-box .description {
 	font-size: 0.9rem;
}