/* form */
form ul li { float: left; line-height: 30px; text-align: left; font-weight: bold; margin:0;}

/* home form box */

/* design */
form.boxForm ul li.label { width: 17%;  text-align: right; }
*form.boxForm ul li.input select { margin-left: 10px; }
form.boxForm ul li.input { width: auto; padding-left: 1%; padding-right: 5%; }
form.boxForm ul li.message { min-width: 40%; padding-left: 1%; font-size: 85%; }
form.boxForm ul li.button { padding-left: 18%; margin-top: 5px;}

/* validation */
form.boxForm ul li.label-error, form ul li.message-error { color: #f00; }
form.boxForm ul li.input-ok { background: url(../images/form/ok-form-icon.png) no-repeat right center; }
form.boxForm ul li.input-error { background: url(../images/form/error-form-icon.png) no-repeat right center; }
form.boxForm ul li.input-error input, form ul li.input-error select { border: 2px solid red;}
form.boxForm ul li.message ul li { margin: 0; padding: 0; line-height: inherit; }

/* old */

/* --- FORM - GERAL --- */

input.bt_edit { width: 16px; background: url(../images/form/edit-icon.png) no-repeat 50%; border:0 none; cursor:pointer; }

input.bt_delete { width: 16px; background: url(../images/form/delete-icon.png) no-repeat 50%; border:0 none; cursor:pointer; }

