/* goal */

.ui-progressbar { height: 23px; }

#itemList { padding: 0; }

.inside .left, .inside .right { float:left; }
.inside .left { width: 120px; padding-right: 5px; border-right: 1px solid; }
.inside .right { width: 512px; }

ul.stats li, ul.progress li  { font-weight: bold; width: 100%; float: left; }

ul.stats { margin-top: 5px; }
ul.stats li { text-align: right; }
ul.stats li.status { }
ul.stats li.date-limit { font-family: "Arial Black", Arial, sans-serif; }
ul.stats li.year-limit { font-family: "Arial Black", Arial, sans-serif; }

ul.progress { }
ul.progress li {  }
ul.progress li.name { width: 495px; text-align: left; font-size: 1.3em; }
ul li.icon { width: 16px; }
ul.progress li.values { width: auto; text-align: center; }
ul.progress li.of { width: 30px; text-align: center; }
ul.progress li.actual { width: auto; font-size: 0.8em; float:right;}
ul.progress li.bar { }
ul.progress li.bar div{ height: 20px; }

#goalBox ul { width: auto;  }
#goalBox ul li { float: left; font-weight: bold; margin:0; }
#goalBox li.label { width: 160px; text-align: right; }
#goalBox li.value { width: 70px; padding-left: 10px; }

input.bt_delete2 { border:0; }
