.info-text { margin: 10px; text-align:center; font-weight:bold; font-size: 1.2em; }

ul.info-box { float:left; margin:10px;}
ul.info-box li { float:left; width: 310px; }

.common-text { margin: 10px; }