/* General */
html { background: #DCDCDC; }
ul, p, h3, h2, h5 { margin: 0; padding: 0; }
ul { list-style: none; }
a { color:#333; text-decoration: none; }
a:focus, a:hover {color:#000; text-decoration: underline;}
body { font-family:Calibri,"Helvetica Neue", Helvetica, sans-serif; font-size: 100%; background: inherit; }
.center { text-align: center; }

/* jquery ui */
.ui-datepicker { font-size: 11px; }
.ui-dialog { font-size: 0.8em; }
input.ui-button { font-size: 80%; padding: 0.3em 0.8em; }

/* blueprint css */
textarea { width: auto; height: auto; font-family:Calibri,"Helvetica Neue", Helvetica, sans-serif; font-size: 90%; }
input[type=text], input[type=password], input.text, input.title, textarea, select {margin:0; }
tbody tr:nth-child(even) td, tbody tr.even td {background:#eee;}

/* Header */
#header { background-color: #495154; border-radius: 10px 10px 0px 0px; -moz-border-radius: 10px 10px 0px 0px;}
#header .logo { height: 50px; padding-left: 5px; font-family: "Arial Black", Arial, sans-serif; }
#header .logo h2 { color: #CFB52B; }
#header .subheader { background-color: #6B7576; padding: 0.2em 0; padding-left: 5px; }

/* Menu */
#menubar { text-align: center; }
#menubar a { color: #999; }
#menubar a:hover { text-decoration: none; }
#menubar div.last { margin-right:0; }
#menubar div.last span { margin: 0 40px; }
#menubar div { float:left; margin-right:11px; padding: 0.5em 0; background-color: #ccc; font-weight: bold; cursor: pointer; }
#menubar .ativo, #menubar div:hover { background-color: #EBEDE2; color: #000; }
#menubar .ativo span, #menubar div:hover span { background-position: 48px 0; }
#menubar span { margin: 0 39px; width: 48px; height: 48px; display: block; }

/* Menu Icons */ 
#menubar span.home { background: url(../images/home_icon.png); }
#menubar span.budget { background: url(../images/budget_icon.png); }
#menubar span.cashflow { background: url(../images/flow_icon.png); }
#menubar span.goal { background: url(../images/goal_icon.png); }
#menubar span.reports { background: url(../images/report_icon.png); }
#menubar span.adm { background: url(../images/adm_icon.png); }
#menubar span.help { background: url(../images/help_icon.png); }

#menubar .ativo span { background-position: 48px 0; }

/* Month Select Menu */
#menuMonth { text-align: center; margin-top: 10px; }
#menuMonth ul li { background: #ccc; float: left; font-weight: bold; }
#menuMonth ul li a { line-height: 1.5em; width: 79px; display: block; color: #999; }
#menuMonth ul li a.first, #menuMonth ul li a.last { width: 80px; }

#menuMonth ul li.selected a { background-color: #495154; color:#fff; }
#menuMonth ul li:hover a { background-color: #495154; color:#fff; text-decoration: none;}

/* Center */
#content { background-color: #EBEDE2; min-height: 200px; }
#hidden_element { display: none; }

#title { margin: 20px 10px 0 10px; background: #495154; padding: 1em 0.5em; }
#title h3 { font-weight: bold; color: #fff; }

#lbox, #rbox, #cbox, #obox {  padding:0; background: #FEFEFE; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; box-shadow:0px 0px 10px #090909; } 
#lbox { margin:10px 0 10px 10px; }
#rbox { margin:10px 10px 10px 0; }
#cbox { margin:10px 0; }
#obox { margin:10px; }

#popup { background: #FEFEFE; border: 2px solid #495154; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; box-shadow:0px 0px 10px #090909; }

.inside { padding: .5em; min-height: 30px; }
.title { padding: 0 .5em; font-weight: bold; background: #495154; color:#fff; border-radius: 10px 10px 0px 0px; -moz-border-radius: 10px 10px 0px 0px; -webkit-border-radius: 10px 10px 0px 0px; }

.popup-title-border { border-radius: 6px 6px 0px 0px; -moz-border-radius: 6px 6px 0px 0px; -webkit-border-radius: 6px 6px 0px 0px; }

.empty-box { margin: 10px; text-align:center; padding: 1em 0; }

.positive { color: #00642D; }
.negative { color: #E40101; }

.msg-erro { display: none; border: 2px solid #E40101; color: #E40101; background: #fccfcf; margin: 5px; font-size: 85%; }
.msg-erro ul li { float: none; font-weight: bold; margin-left:5px; line-height: 25px;}
.msg-erro ul li ul li { margin: 0; padding: 0; line-height: inherit; }

#balanceBox ul  { width: 272px; font-weight: bold; margin-left: 6px; }
#balanceBox ul.simple  {  }
#balanceBox ul.simple  li.value { width: 110px; }
#balanceBox ul li { float: left; line-height: 25px; }
#balanceBox li.label { width: 90px; text-align: right; font-size: 105%; }
#balanceBox li.value { font-size: 105%; padding: 0 .5em; }
#balanceBox li.budget-value { color:#999; font-size: 80%; }
#balanceBox li.balance { font-size: 1.5em; }



#lastTransactionsBox ul { float: left; border-bottom: 1px solid #ccc; background-color: #eee; width: 272px; margin-left: 6px; margin-bottom: 0px; }
#lastTransactionsBox ul:nth-child(even)  { background-color: inherit;  }
#lastTransactionsBox ul li { float: left; line-height: 25px; padding-left: 5px;}
#lastTransactionsBox ul li.date, #lastTransactionsBox ul li.value { width: 125px; font-weight: bold; font-size: 105%; }
#lastTransactionsBox ul li.category { width: auto; font-style: italic; }
#lastTransactionsBox ul li.description { width: auto; font-size: .9em; margin-bottom: 5px; }
#lastTransactionsBox ul.last { margin-bottom: 0.5em; border-bottom: none;}

.boxButton { margin-top: 1.5em; margin-bottom: 1.2em; font-weight: bold; }
.singleButton { font-weight: bold; margin: 10px; }
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:1px;margin:0;border:none;}

/* background colors */
/* fiorde tropical #6a9bac */
/* rio ebro #92b6c1 */

/* Footer */
#footer { background-color: #EBEDE2; text-align: center; padding: 0.5em 0; border-radius: 0px 0px 10px 10px; -moz-border-radius: 0px 0px 10px 10px; -webkit-border-radius: 0px 0px 10px 10px; }

/*rm*/li { border: 0px solid; }

.rounded-all { border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
.rounded-top { border-radius: 10px 10px 0px 0px; -moz-border-radius: 10px 10px 0px 0px; -webkit-border-radius: 10px 10px 0px 0px; }
.rounded-bottom { border-radius: 0px 0px 10px 10px; -moz-border-radius: 0px 0px 10px 10px; -webkit-border-radius: 0px 0px 10px 10px; }
.rounded-none { border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; }

.mascara { position:absolute; left:0; top:0; z-index:9000; background-color:#000; display:none; }
#dialog { position:absolute; left:0; top:0; display: none; z-index:9999; }
.popup-min-size { min-height: 270px; }
