/* General */
ul, p, h3, h2, h5 { margin: 0; padding: 0; }
ul { list-style: none; }
a { color:#333; text-decoration: none; }
a:focus, a:hover {color:#000; text-decoration: underline;}
body { font-family:Calibri,"Helvetica Neue", Helvetica, sans-serif; font-size: 100%; }
.center { text-align: center; }

/* jquery ui */
.ui-datepicker { font-size: 11px; }
.ui-dialog { font-size: 0.8em; }
input.ui-button { font-size: 80%; padding: 0.3em 0.8em; }

/* blueprint css */
textarea { width: auto; height: auto; font-family:Calibri,"Helvetica Neue", Helvetica, sans-serif; font-size: 90%; }
input[type=text], input[type=password], input.text, input.title, textarea, select {margin:0; }
tbody tr:nth-child(even) td, tbody tr.even td {background:#eee;}

/* Header */
#header { background-color: #92b6c1; }
#header .logo { height: 50px; padding-left: 5px; font-family: "Arial Black", Arial, sans-serif; }
#header .logo h2 { color: #fff; }
#header .subheader { background-color: #ccc; padding: 0.2em 0; padding-left: 5px; }

/* Menu */
#menubar { text-align: center; }
#menubar a { color: #999; }
#menubar a:hover { text-decoration: none; }
#menubar div { padding: 0.5em 0; background-color: #ccc; font-weight: bold; cursor: pointer; }
#menubar .ativo, #menubar div:hover { background-color: #eee; color: #000; }
#menubar .ativo span, #menubar div:hover span { background-position: 48px 0; }
#menubar span { margin: 0 51px; width: 48px; height: 48px; display: block; }

/* Menu Icons */ 
#menubar span.home { background: url(../images/home_icon.png); }
#menubar span.budget { background: url(../images/budget_icon.png); }
#menubar span.cashflow { background: url(../images/flow_icon.png); }
#menubar span.goal { background: url(../images/goal_icon.png); }
#menubar span.reports { background: url(../images/report_icon.png); }
#menubar span.adm { background: url(../images/adm_icon.png); }

#menubar .ativo span { background-position: 48px 0; }

/* Month Select Menu */
#menuMonth { text-align: center; margin: 0 1px; margin-top: 10px; }
#menuMonth ul li { background: #ccc; float: left; font-weight: bold; margin:0;}
#menuMonth ul li a { line-height: 1.5em; width: 79px;; padding: 0; display: block; color: #999; }
#menuMonth ul li.selected a { background-color: #92b6c1; color:#000; }
#menuMonth ul li:hover a { background-color: #92b6c1; color:#000; text-decoration: none;}

/* Center */
#content { background-color: #eee; min-height: 200px;}
#hidden_element { display: none; }

#title { margin: 20px 10px 0 10px; background: #92b6c1; padding: 1em 0.5em; }
#title h3 { font-weight: bold; }

#lbox, #rbox, #cbox, #obox {  padding:0; background: #fff; } 
#lbox { margin:10px 0 10px 10px; }
#rbox { margin:10px 10px 10px 0; }
#cbox { margin:10px 0; }
#obox { margin:10px; }

.title, .inside { padding: 0 0.5em; }
.inside { padding-bottom: 0.5em; padding-top: 0.2em; }
.title { font-weight: bold; background: #92b6c1;  }

.positive { color: #00642D; }
.negative { color: #E40101; }

.msg-erro { display: none; border: 2px solid #E40101; color: #E40101; background: #fccfcf; margin: 5px; font-size: 85%; }
.msg-erro ul li { float: none; font-weight: bold; margin-left:5px; line-height: 25px;}
.msg-erro ul li ul li { margin: 0; padding: 0; line-height: inherit; }

#balanceBox ul { width: 180px;  }
#balanceBox ul li { float: left; font-weight: bold; margin:0; }
#balanceBox li.label { width: 80px; text-align: right; }
#balanceBox li.value { width: 90px; padding-left: 10px; }

#lastTransactionsBox ul li { float: left; margin:0; }
#lastTransactionsBox ul li.date { width: 100%; font-weight: bold; font-size: 105%; margin-top: 5px;  }
#lastTransactionsBox ul li.value { width: 90px; font-weight: bold;}
#lastTransactionsBox ul li.category { font-style: italic;  }
#lastTransactionsBox ul li.description { width: 100%; font-size: 95%; margin-bottom: 5px; }

.boxButton { margin-top: 1.5em; margin-bottom: 1.2em; font-weight: bold; }
.singleButton { font-weight: bold; margin: 10px; }


/* background colors */
/* fiorde tropical #6a9bac */
/* rio ebro #92b6c1 */

/* Footer */
#footer { background-color: #eee; text-align: center; padding: 0.5em 0; }

/*rm*/div,li { border: 0px solid; }