
table .orcamento{ }

table.orcamento tbody tr:nth-child(even) td, tbody tr.even td {background:none;}

.orcamento tr{ }

.orcamento tr.date { background-color: #5555FF; color: #FFFFFF }

.orcamento tr.titulo { background-color: #AAAAAA; }

.orcamento tr.header td{ font-weight: bold; text-align: center; }

.orcamento tr.categoria td { font-weight: bold; text-align: center;}

.orcamento tr.categoria { background-color: #CCCCCC; }

.orcamento tr.categoria td.nome { text-align: left; }

.orcamento tr.subcategoria { background-color: #FFFFFF; }

.orcamento tr.subcategoria td { text-align: center;}

.orcamento tr.subcategoria td.nome { padding-left: 20px; text-align: left; }

span.warning{ font-weight: bold; color: #FF0000; }