
/* TABELA DETALHADA */

table .orcamento{ }

table.orcamento tbody tr:nth-child(even) td, tbody tr.even td {background:none;}

.orcamento tr{ }

.orcamento tr.date { background-color: #5555FF; color: #FFFFFF; font-size: 105%; }

.orcamento tr.titulo { background-color: #AAAAAA; }

.orcamento tr.header td{ font-weight: bold; text-align: center; }

.orcamento tr.categoria td { font-weight: bold; text-align: center;}

.orcamento tr.categoria { background-color: #CCCCCC; }

.orcamento tr.categoria td.nome { text-align: left; }

.orcamento tr.subcategoria { background-color: #FFFFFF; }

.orcamento tr.subcategoria td { text-align: center;}

.orcamento tr.subcategoria td.nome { padding-left: 20px; text-align: left; }

/* VIEW BASIC */

.viewchange { }

.basic .categoria { background-color: #eeeeee; float:left; font-size: 105%; font-weight:bold; height: 65px; margin-bottom: 20px;}

.basic .categoria p.rotulo { margin-left: 10px; margin-bottom: 0.3em; }

.basic .categoria .btplus { text-align: center;}

.basic .categoria .atual { text-align: right; }

.basic .categoria .previsto { text-align: left; }


/* BOX LATERAL */

.saldo-orcm { height: 80px; font-weight: bold; font-size: 105%; }
.saldo-adm { height: 100px; font-weight: bold; font-size: 105%; }

.saldo-orcm .title { margin-left: 15px; text-align: right; }
.saldo-adm .title { margin-left: 15px; text-align: right; }

.saldo-orcm h5{ margin-bottom: 1px; font-size: 110%; border-bottom: 1px solid black; }
.saldo-adm h5{ margin-bottom: 1px; font-size: 110%; border-bottom: 1px solid black; }

span.warning{ font-weight: bold; color: #FF0000; }