/* recaptcha */

ul#recaptcha_widget li.label { padding-top: 57px; }
*ul#recaptcha_widget li.input { padding-left: 15px; }

ul#recaptcha_widget li.input ul li { float:left; }
ul#recaptcha_widget li.input ul li.captcha_text { padding-right: 10px;  }
ul#recaptcha_widget li.input ul li.captcha_button { padding: 0 5px;  }

#recaptcha_image { width: 300px; height: 57px; border: 1px solid #ccc; line-height: normal; }