/* reports */
#cbox { margin:10px; padding:0; }

.textData { width: 50%; float: left; }
.graphData { width: 50%; float: right; }

table { width: 280px;  }
table tr.header td{ background: #ddd; font-weight: bold; font-size: 1em; }
table td { background: #eee; border: 1px solid #bbb; font-size: 0.9em; text-align: center; }
*table td { border: 0; }